<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing-Up</title>
</head>
<body>
    <h1>Sign-Up</h1>
    <form method="post" action="/users">
        <label>User Name</label>
        <input type="text" placeholder="enter your user name" name="name" id="name">

        <label> Email</label>
        <input type="text" placeholder="example@gamil.com" name="email", id="email">

        <label>Password</label>
        <input type="text" placeholder="Password" name="password", id="password">

        <button type="submit">Sing-Up</button>
    </form>
</body>
</html>